.sidebar {
  width: 20%;
  float: right;
  background-color: #dbdbdb;
  margin: 12px;
  border: 2px solid black;
  padding: 6px;
}

.column {
  width: 300px;
  float: left;
}

img {
  float: right;
  width: 100px;
  height: 100px;
  padding: 10px;
}

body {
  background-color: #696969;
  font-family: sans-serif;
}
