.sidebar {
  width: 20%;
  float: right;
  background-color: #dbdbdb;
}

.column {
  width: 300px;
  float: left;
}

img {
  float: right;
  width: 100px;
  height: 100px;
}

body {
  background-color: #696969;
  font-family: sans-serif;
}
